.bug {
  background-color: #92c22b;
}
.dark {
  background-color: #5a5465;
}
.dragon {
  background-color: #0b6dc3;
}
.electric {
  background-color: #f4d339;
}
.fairy {
  background-color: #ed90e7;
}
.fighting {
  background-color: #cf3f6b;
}
.fire {
  background-color: #ff9e54;
}
.flying {
  background-color: #90aadf;
}
.ghost {
  background-color: #5169af;
}
.grass {
  background-color: #63bd5a;
}
.ground {
  background-color: #da7943;
}
.ice {
  background-color: #74cfc1;
}
.normal {
  background-color: #929ba3;
}
.poison {
  background-color: #ab6bc9;
}
.psychic {
  background-color: #fa727a;
}
.rock {
  background-color: #c6b88d;
}
.steel {
  background-color: #598fa3;
}
.water {
  background-color: #4f91d7;
}